<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Library styles and scripts -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css">

	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script src="https://use.fontawesome.com/9497edb156.js"></script>

	<title>Mango - Tech News</title>
</head>

<body>
	<div class="container">
		<div class="row">
			<ul class="side-nav fixed">
		        <li>
					<div class="userView">
						<h1>Mango</h1><p>Mongo news scraper</p>
		        	</div>
				</li>
				<li>
					<a class="btn waves-effect waves-light orange" href="/">
					<i class="material-icons left">get_app</i> All Articles</a>
				</li>
				<li>
					<a class="btn waves-effect waves-light orange" href="/saved">
					<i class="material-icons left">get_app</i> Bookmarks</a>
				</li>
				<li>
					<form action="/scrape" method="post" style="padding-left:15px">
					    <button type="submit" class="btn-floating btn-large waves-effect waves-light orange">
					        <i class="material-icons left">get_app</i>
					    </button>
					</form>
				</li>
		    </ul>
			<main>
				{{{ body }}}
			</main>
		</div>
	</div>
</body>

</html>